.container.w-xxl.w-auto-xs.ng-scope(ng-controller='NewController')
  .row
    .col-lg-4.col-lg-offset-4
      .wrapper.text-center
        strong new
      .span6.center
        form.form-validation.ng-pristine.ng-invalid.ng-invalid-required(name='form', ng-submit='Signin.signin()')
          .text-danger.wrapper.text-center.ng-binding.ng-hide
          .list-group.list-group-sm.m-b-md
            .list-group-item
              input.form-control.no-border.ng-pristine.ng-invalid.ng-invalid-required.ng-touched(type='text', placeholder='Email or username', ng-model='Signin.user.username', required='required', autofocus='true')
            .list-group-item
              input.form-control.no-border.ng-pristine.ng-untouched.ng-invalid.ng-invalid-required(type='password', placeholder='Password', ng-model='Signin.user.password', required='required')
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Log in
      br
      .wrapper-md.text-center
        a.text-info(ui-sref='') Forgot password?
